body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: black;

}

#root > div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: lightgray;
    text-align: center;
    padding: 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    display:flex;
    align-items: center;
}

.logo {
    max-height: 10vh;
    display: flex;
    margin-right: auto;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    padding: 20px;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}


